@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Pen+Script&family=Single+Day&display=swap');
#btnshow{
	margin-left: 200px;	
}

#btnshow,#btnhide{
	width: 150px;
	height: 40px;
	font-size: 20pt;
	font-family: 'Nanum Pen Script';
}

div.calc{
	margin-left: 130px;
	margin-top:20px;
	width: 447px;
	height: 660px;
	border: 2px solid gray;
}

.calc table{
	width: 450px;
	border-collapse: collapse;
}

.calc tr button{
	height: 100px;
	width: 100px;
	font-family: 'Single Day';
	font-size: 20pt;
}

.calc tr.one{
	height: 100px;	
}

#show{
	width: 445px;
	height:80px;
	font-size: 36pt;
	font-family:'Black Han Sans';
	border: 2px solid black;
	margin-right:10px;
}
.calc caption{
	font-size: 20pt;
	font-weight: bold;
	font-family: 'Nanum Pen Script';	
}














