@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Pen+Script&family=Single+Day&display=swap');
.seldate{
	margin-left: 300px;	
}

.seldate select,#btnview{
	font-size: 1.4em;
	width: 110px;
	font-family: 'Single Day';
}

#calview{
	margin-left: 250px;
	margin-top: 30px;	
}

#calview table{
	border-collapse: collapse;
	width: 800px;
}

#calview table tr{
	height: 60px;	
}

#calview table th{
	border: 1px solid gray;
	background-color: #afeeee;
	color: #2e8b57;
	font-family: 'Single Day';
	font-size: 13pt;
}

#calview table td{
	border: 1px solid gray;	
	font-family: 'Single Day';
	font-size: 13pt;
	text-align: center;
	line-height: 60px;
}














